body {
    background-image: url('C:\Users\Alexsander\OneDrive - FUNDAÇÃO MOVIMENTO DIREITO E CIDADANIA\Site Vini\img\Design sem nome.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: rgba(0, 123, 255, 0.8); 
    color: #ffffff;
    padding: 10px 0;
    border-bottom: 5px solid #ff0000;
}

h1 {
    margin: 0;
    padding: 10px 20px;
}

.nav-tabs {
    margin-bottom: 15px;
}

.tab-content {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border: 1px solid #dee2e6;
    border-top: none;
}

.note-area {
    width: 100%;
    height: 150px;
}
